button {
	cursor: pointer;
}

i {
	cursor: pointer;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}

a {
	transition: 1s;
	color: #111111;
	outline: none;
	text-decoration: none;
}

li {
	list-style: none;
}
